body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(201 177 145);
}

.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #000000;
}

p {
  color: #3b3b3b;
}

/* Styles for AddBookForm */
.addbook {
  margin: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 8px;
  margin: 5px;
  width: 300px;
}

button {
  padding: 10px;
  background-color: #913c3c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #502020;
}

/* Styles for BookList */
.books {
  margin: inherit;
}

h2 {
  color: #913c3c;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

li {
  background-color: #f3e3d3;
  padding: 10px;
  margin: 5px 0;
  width: 300px;
  border-radius: 10px;
}

.removebook {
  cursor: pointer;
  float: right;
  color: #502020;
}



/* Media query for smaller screens (e.g., phones) */
@media (max-width: 600px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  li {
    max-width: 100%;
  }

  input {
    max-width: 100%;
  }

}